@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Work+Sans:300,400,700&subset=latin-ext");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
    transition-property: color, opacity, display;
    transition: linear 0.15s;
  }
  h1 {
    @apply font-display
  }
  a:hover{
    @apply text-red
  }
  html {
    @apply min-h-full;
    @apply h-full;
  }
  body {
    @apply min-h-full;
    @apply h-full;
    @apply flex;
    @apply flex-col;
  }
  main {
    @apply z-0;
  }
}
