@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
    transition-property: color, opacity, display;
    transition: linear 0.15s;
  }
  h1 {
    @apply font-display;
  }
  a:hover {
    @apply text-red;
  }
  html {
    @apply min-h-full;
    @apply h-full;
  }
  body {
    @apply min-h-full;
    @apply font-body;
  }
  main {
    @apply z-0;
    @apply relative;
    @apply min-h-fullscreen;
  }
}
