@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Work+Sans:300,400,700&subset=latin-ext");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none;
    transition-property: color, opacity, display;
    transition: linear 0.15s;
  }
  a:hover{
    @apply text-red
  }
}
